
{% extends 'pages/_base.jinja' %}

{% block content %}

<h2>Road Trips:</h2>

<section id="trips">

    {% for trip in trips %}

        <div class="trip">

            <h3>{{ trip.Trip_Name }}</h3>

            <p>Budget: ${{ trip.Trip_Budget }}</p>

            <a href="/trip/{{ trip.id }}">View Trip ></a>

            <form method="POST" action="/delete_trip/{{ trip.id }}" style="display:inline;">
                <button type="submit">Delete Trip</button>
            </form>

        </div>

    {% else %}

        <p>No Road Trips!</p>

    {% endfor %}

    <center>
        <a href="/add_trip">Add Trip</a>
    </center>

</section>

{% endblock %}
